@model IEnumerable<Kota_Palace_Admin.Models.Business>

@{
    ViewData["Title"] = "Index";
}

<div class="card">
    <div class="card-header">
        ACTIVE BUSINESSES
    </div>
    <div class="card-body">
        <div class="table-responsive-sm">
            <table class="table table-borderless">
                <thead class="bg-dark text-light">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PhoneNumber)
                        </th>
                        <th>
                            FIRST-NAME
                        </th>
                        <th>
                            LAST-NAME
                        </th>
                       
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PhoneNumber)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Owner.Firstname)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Owner.Lastname)
                            </td>
                        </tr>





                    }
                </tbody>
            </table>

        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}